* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  /* start header */
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    border-bottom: 0.5px solid white;
  }
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  header .header__cotainer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav a {
    text-decoration: none;
    /* color: white; */
    text-transform: uppercase;
    margin-right: 20px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s;
  }
  header nav a:hover,
  header a.active {
    color: #e62b4a;
  }
  header .logo {
    font-weight: 500;
    font-size: 24px;
  }
  
  /* end header */
  
  /* start banner */
  .banner {
    background-image: url(./image-video/home_slider.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner__container {
    width: 50%;
    border: 5px solid orange;
    text-align: center;
    color: #ffffff;
  }
  .banner__container p {
    font-size: 50px;
    margin: 30px 0;
    font-weight: 700;
  }
  .banner__container button {
    background: #e62b4a;
    color: white;
    padding: 15px 35px;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
  }
  .banner__container button:hover {
    background: #af2239;
  }
  .banner__container i {
    font-size: 2rem;
    color: #e62b4a;
    animation: arrowAnimate 1.5s infinite;
  }
  /* end banner */
  
  /* start carousel */
  
  .carousel {
    padding: 80px 0;
    background: black;
  }
  .carousel__item {
    height: 250px;
    padding: 0 10px;
  }
  .item__container {
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
  }
  
  .item__container::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    right: 0;
    top: 0;
    background: #af2239;
  }
  
  /* end carousel */
  
  @keyframes arrowAnimate {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(100px);
    }
  }
  /* relative 1 */
  /* absolute 0 */
  
  /* #demo::before {
    content: "Hey";
    display: inline;
    color: red;
  }
  #demo::after {
    content: "You";
    display: inline;
    color: green;
    font-size: 50px;
  } */
  