.parrent {
  height: 500px;
  background: #000;
  display: flex;
  /* default: trục chính là chiều ngang */
  /* justify-content : di chuyển theo trục chính */
  justify-content: center;
  /* align-items : di chuyển theo trục phụ */
  align-items: center;
}
.chil-1 {
  background: red;
  width: 100px;
  height: 100px;
  /* animation-name: animate_1;
  animation-duration: 0.1s;
  animation-iteration-count: infinite; */
}
.chil-2 {
  width: 100px;
  height: 100px;
  background: blue;
  animation: animate_2 1s infinite;
}

@keyframes animate_1 {
  from {
    background: red;
  }
  to {
    background: yellow;
  }
}

@keyframes animate_2 {
  0% {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    background: red;
  }
  30% {
    background: blue;
  }
  60% {
    background: white;
  }
  100% {
    background: green;
    transform: translateX(-300px) translateY(-300px) scale(0.1) rotate(360deg);
  }
}
